/*header*/
header {
    width: 100%;
    height: .8rem;
    background: #fff;
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden;
}

header img {
    display: block;
    width: 1.95rem;
    height: .37rem;
    margin: .21rem auto;
}

/*nav*/
nav {
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    font-size: .36rem;
    overflow: hidden;
}

nav a {
    color: #727272;
}

nav .swiper-wrapper {
    width: 50rem;
    white-space: nowrap; /*强制不折行*/
    overflow-x: scroll; /*x轴出现滚动条*/
}

nav .swiper-wrapper::-webkit-scrollbar {
    display: none;
}

/*隐藏滚动条*/
#nav .swiper-slide {
    width: auto;
    padding: 0 .24rem;
}

/* banner */
#banner {
    position: relative
}

#banner img {
    width: 100%
}

#banner .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .8rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8))/*纵向 线性渐变*/
}

#banner h2 {
    z-index: 99;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    color: #fff;
    font-size: .36rem;
    font-weight: normal;
    padding: 0 1.02rem 0 .3rem;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    /*-webkit-text-overflow: ellipsis;*/
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    left: auto;
    right: .31rem;
    bottom: .21rem;
    color: #fff;
    text-align: right;
    font-size: .15rem
}

.swiper-pagination-current {
    font-size: .36rem;
    color: #f54343
}


/**/
section {
    border-bottom: 1px solid red;
    padding: .22rem .3rem;
}

.sec-img {
    float: left;
    width: 1.82rem;
    height: 1.3rem;
    margin-right: .32rem;
}

.sec-img img {
    width: 100%;
    height: 100%;
}

.sec-text {
    float: left;
    width: 4.68rem;
    position: relative;
    height: 1.3rem;
}

.sec-text h2 {
    font-size: .36rem;
    color: #1a1a1a;
    font-weight: normal;
    line-height: .44rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

}

.sec-info {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: .22rem;
    color: #999;
}

.source {
    margin-right: .21rem;
}

.comment {
    margin-right: .68rem;
}

.comment i {
    display: inline-block;
    width: .24rem;
    height: .2rem;
    background: url("../images/comment icon@2x.png") no-repeat;
    background-size: cover;
    vertical-align: middle;
    margin-left: .05rem;
}

.tip {
    position: absolute;
    right: 0;
    bottom: .02rem;
    display: block;
    width: .48rem;
    height: .2rem;
    background: url("../images/topic@2x.png") no-repeat;
    background-size: cover;
    margin-left: 0.2rem;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


/*三小图*/
.threePic .sec-text{
    width: 100%;
    height: auto;
    float: none;
}
.threePic .sec-img-wrap{
    margin: .24rem 0 .23rem -.09rem;
}
.threePic .sec-img{
    width: 33.33%;
    height: auto;
    margin: 0;
    padding-left: .09rem;
    box-sizing: border-box;
}
.threePic .sec-info{
    position: static;
}
/*大图*/
.bigPic .sec-img{
    width: 100%;
}

/*纯文字*/
.threePic .sec-div{
    height: .73rem;
}

















