*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.pic{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;/*背景平铺方式：不平埔*/
    background-position: top center;/*背景位置：居中*/
    background-size: cover;

}
.hero01{
    float: left;
    width: 25%;
    height: 260px;
    background-image: url("images/promo-01.jpg");
    /*background-size: cover;*/
}
.hero02{
    float: left;
    width: 25%;
    height: 260px;
    background-image: url("images/promo-02.jpg");
    /*background-size: cover;*/
}
.hero03{
    float: left;
    width: 25%;
    height: 260px;
    background-image: url("images/promo-03.jpg");
    /*background-size: cover;*/
}
.hero04{
    float: left;
    width: 25%;
    height: 260px;
    background-image: url("images/promo-04.jpg");
    /*background-size: cover;*/
}
.hero-promos{
    margin-left: -3px;
    overflow: hidden;
}
.hero01,.hero02,.hero03,.hero04{
    float: left;
    width: 25%;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-left: 2px solid #ffffff;
    box-sizing: border-box;/*border和padding的数值已经包括在宽度中,元素宽度=width*/
}
