*{margin: 0;padding: 0;}
html,body{
    width: 100%;
    height: 100%;
}
/*这是？*/
body{
    min-width: 1150px;
}
/**/
/*header-begin*/
.header{
    display: block;
    width: 100%;
    height: 610px;
    background: url("../images/bannerV2.jpg") no-repeat;
    background-color: black;
    background-position: center 0;
    padding-top: 30px;
    background-attachment: fixed;
    position: relative;
}
.box{
    margin-right: auto;
    margin-left: auto;
    width: 1150px;
    height: 422px;
    /*background-color: #007aff;*/
}
.header .left-top{
    /*margin-right: 0;*/
    display:inline-block;
    width: 206px;
    height: 61px;
    font-size: 0;
}
.header .left-top a{
    float: left;
    display:inline-block;
    margin-top: -5px;
    margin-right: 10px;
    width: 137px;
    height: 66px;
    background: url("../images/spriteV2_new.png") no-repeat 10px -365px;
 }
.header .left-top .address{
    display: inline-block;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    width: 39px;
    height: 27px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    line-height: 27px;
    cursor: pointer;
    background: rgba(0,0,0,0.25);/*颜色 透明度*/
    border-radius: 15px;/*边框半径*/
}
.header .address i{
    font-weight: 400;
    float: left;
    font-style: normal;
    margin-right: 5px;
    display: inline-block;
    width: 10px;
    height: 12px;
    background: url("../images/spriteV2_new.png") no-repeat -189px -20px;
    line-height: 27px;
    position: relative;
    top: 7px;
}
.header .box .right-top{
    float: right;
    margin-top: -6px;
    width: 789px;
    height: 48px;
}
.header .right-top .nav{
    width: 789px;
    height: 48px;
}
.header .right-top .login{
    float: right;
    width: 104px;
    height: 25px;
}
.header .right-top .userLogin{
    float: right;
    width: 104px;
    height: 20px;
    position: relative;
}
.header .right-top .userLogin i{
    width: 17px;
    height: 16px;
    background: url("../images/spriteV2_new.png") no-repeat -203px -20px;
    display: inline-block;
}
.header .right-top .linkLogin{
    position: absolute;
    top: -2px;
    right: 0;
    height: 20px;
    float: right;
    font-size: 0;
}
.header .right-top .linkLogin a{
    margin-left: 5px;
    clear: both;
    line-height: 20px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.header .right-top ul{
    /*background-color: #000;*/
    font-size: 0;
    width: 789px;
    height: 22px;
    padding-top: 26px;
    text-align: right;
    list-style: none;
    position: relative;
}
.header .right-top ul li{
    line-height: 20px;
    float: left;
}
.header .right-top ul li a{
    line-height: 20px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.header .right-top li .lvju{
    position: relative;
    bottom: 6px;
}
.header .right-top li img{
    position: relative;
    top: -4px;
    width: 19px;
    height: 22px;
    margin-right: -18px;
    margin-left: 20px;
}
.header .right-top .hover{
    position: relative;

}
.header .right-top .hover .answer{
    display: none;
    margin-left: -30px;
    width: 100px;
    height: 40px;
    position: absolute;
    top:18px;
    left:50%;
    z-index: 99;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(0) scale(0);

}
.header .right-top .hover dd{
    list-style: none;
    margin-top: 13px;
    padding: 10px 0 10px 0;
    background: #f9f9f9;
    border-radius: 2px;
    width: 124px;
    position: absolute;
    left: -25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);

}
/*小三角：*/
.header .right-top .hover dd i{
    display: block;
    font-weight: 400;
    font-style: normal;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    left: 53px;
    top: -10px;
}
.header .right-top .hover dl{
    list-style: none;
    height: 30px;
    line-height: 30px;
}
.header .right-top .hover dl a{
    line-height: 30px;
    color: #333;
    float: left;
    text-shadow: none;
    font-size: 14px;
}
/*hover*/
.header .right-top .nav .hover:hover .answer{
    display: block;
    opacity: 1;
    transform: translateY(0) scale(1);
}
.header .right-top .real{
    font-size: 0;
}
.header .right-top .real i{
    display: inline-block;
    background: url("../images/spriteV2_new.png") no-repeat -225px -20px;
    width: 7px;
    height: 10px;
    margin-right: 10px;
    margin-left: 15px;
}
.header .right-top .real .fangyuan{
    margin: -4px 0 0 0
}
.header .box .bottom{
    width: 1150px;
    height: 241px;
}
.header .bottom .linkStory{
    margin: 120px auto 0 auto ;
    width: 540px;
    height: 69px;
    background: url("../images/linkStory.png") no-repeat;
}
.header .bottom .advertisement{
    overflow: hidden;
    height: 35px;
    margin-top: 4px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}
.header .bottom .advertisement .swiper-container{
    position: relative;
    height: 35px;
    overflow: hidden;
}
.header .bottom .search{
    width: 812px;
    height: 127px;
    margin: -14px auto 0 auto;
}
.header .bottom .searchBox{
    padding: 20px;
    position: relative;
}
.header .bottom .search .searchTitle{
    float: left;
}
.header .bottom .search .searchTitle ul{
    list-style: none;
}
.header .bottom .search .searchTitle li{
    float: left;
    height: 43px;
    opacity: .5;
    filter: alpha(opacity=50);
}
.header .bottom .search .searchTitle li:hover{
    opacity: .7;
    filter: alpha(opacity=70)
}
.header .bottom .search .searchTitle li.check{
    opacity: 1;
    filter: alpha(opacity=100)
}
.header .bottom .search .searchTitle li span{
    height: 32px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    padding:0 20px 0 0 ;
    display: inline-block;
    cursor: pointer;
    text-shadow: 1px 0 5px rgba(0,0,0,0.2);
}
.header .bottom .search .searchTitle i{
    left: 40px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 10px solid #fff;
    width: 0;
    height: 0;
    transition: all ease-in-out .3s;
    position: absolute;
    top: 55px;
    left:40px;
    z-index: 99;
    font-weight: 400;
    font-style: normal;
}
.header .bottom .search .se{
    clear: both;
    position: relative;
}
.header .bottom .search .se .boxx{
    background: #fff;
    border-radius: 2px;
    clear: both;
    height: 55px;
    box-shadow: 1px 0 5px rgba(0,0,0,0.2);
}
.header .bottom .search .se .boxx .chazhao .text{
    width: 626px;
    height: 55px;
    padding-left: 20px;
    border:0;
    line-height: 55px;
    border-radius: 2px;
    font-size: 14px;
    float: left;
}
.header .bottom .search .se .boxx .chazhao .btn{
    background: #00ae66;
    width: 127px;
    height: 55px;
    float: right;
    display: block;
    border:0;
    border-radius: 0 2px 2px 0;
    position: absolute;
    right:-1px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    color: #fff;
    transition: all .3s ease-in-out;
}
.header .box .statement{
    position: absolute;
    bottom:34px;
    margin: 20px 10px 0 auto;
    color: #fff;
    /*font-size: 12px;*/
    cursor: pointer;
}
.header .box .statement .pen{
    float: left;
    margin-right: 25px;
    opacity: .8;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header .box .statement .pen a{
    color: #fff;
    font-size: 12px;
}
.header .box .statement .pen img{
    position: relative;
    left: 0;
    top:3px;
    height: 16px;
    margin-right: 7px;
}
/*header-end*/
/*neck-begin*/
.neck{
    width: 1150px;
    height: 149px;
    margin: 0 auto 0 auto;
    padding-top: 45px;
    padding-bottom: 50px;
    text-align: center;
}
.neck li{
    width: 25%;
    float: left;
}
.neck li a{
    display: block;
}
.neck li a img{
    width: 76px;
    height: 65px;
    margin: 0 auto 17px auto;
    display: block;
    vertical-align: middle;/*中部对齐*/
    /*transition: all 1s ease;*/
}
.neck li a b{
    font-size: 18px;
    color: #394043;
    font-weight: 400;
    font-style: normal;
}
.neck li a p{
    width: 183px;
    margin: 3px auto 5px auto;
    font-size: 12px;
    color: #b0b3b4;
    line-height: 18px;
}
.neck li a:hover img{
    transform: translateY(-4px);
    animation: img 1.5s ease infinite ;
}
@keyframes img {
    0%{transform: translateY(-4)}
    50%{transform: translateY(-8px)}
    100%{transform: translateY(-4px)}
}
/*neck-end*/
/*hand-phone-begin*/
.hand-phone{
    padding-top: 45px;
    height: 479px;
    background: url("../images/hand.jpg") center top;
}
.hand-phone .box1{
    width: 1150px;
    margin: 0 auto 0 auto;
}
.hand-phone .box1 .left{
    width: 497px;
    padding-top:40px;
    float: left;
}
.hand-phone .box1 .left .forYou{
    background: url("../images/spriteV2_new.png") -448px -379px;
    width: 286px;
    height: 118px;
}
.hand-phone .box1 .left p{
    line-height: 22px;
    margin-top: 22px;
    font-size: 14px;
    color: #333;
    font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","å¾®è½¯é›…é»‘",'Segoe UI',Tahoma,"å®‹ä½“b8b\4f53",SimSun,sans-serif;
}
.hand-phone .box1 .left .download{
    width: 479px;
    margin-top: 38px;
    position: relative;
}
.hand-phone .box1 .left .app{
    float: left;
    width: 134px;
    margin-right: 14px;
}
.hand-phone .left .download .ios{
    background: url("../images/spriteV2_new.png") no-repeat -20px -139px;
    width: 134px;
    height: 44px;
    display: inline-block;
}
.hand-phone .left .download .android{
    background: url("../images/spriteV2_new.png") no-repeat -20px -197px;
    width: 134px;
    height: 44px;
    display: inline-block;
    margin-top: 8px;
}
.hand-phone .left .download .erweima{
    float: left;
    width: 102px;
    height: 102px;
}
.hand-phone .left .download img{
    width: 100%;
}
/*hand-phone-end*/
/*ershoufang-begin*/
.ershoufang{
    clear: both;
}
.ershoufang .box2{
    overflow: hidden;
    position: relative;
    margin: 0 auto 0 auto;
    padding: 50px 0 15px 0;
    width: 1150px;
}
.ershoufang .box2 .ershoufangTitle{
    float: left;
}
.ershoufang .box2 .ershoufangTitle .title{
    background: url("../images/spriteV2_new.png") -19px -94px;
    width: 248px;
    height: 30px;
}
.ershoufang .box2 .ershoufangTitle p{
    color: #888;
    margin-top: 10px;
    width: 1150px;
    font-size: 14px;
    font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","å¾®è½¯é›…é»‘",'Segoe UI',Tahoma,"å®‹ä½“b8b\4f53",SimSun,sans-serif;
}
.ershoufang .box2 .ershoufangTitle p a{
    color: #394043;
    margin-left: 20px;
    float: right;
}
.ershoufang .box2 .clear:after{
    display: block;
    content: '';
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
.ershoufang .box2 ul{
    display: block;
    margin-top: 40px;
    width: 2100px;
    list-style: none;
}
.ershoufang .box2 li {
    list-style: none;
    position: relative;
    width: 250px;
    height: 323px;
    float: left;
    margin-right: 50px;
    margin-bottom: 3px;
    border-radius: 2px;/*边框半径*/
}
.ershoufang .box2 li a{
    display: block;
    text-decoration: none;
}
.ershoufang .box2 li a .pic{
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.ershoufang .box2 li a .pic img{
    width: 250px;
    height: 192px;
    vertical-align: top;
}
.ershoufang .box2 li .pic .price{
    padding: 0 8px 0 8px;
    position: absolute;
    top:150px;
    left: 0;
    border-radius: 1px;
    height: 30px;
    background-color: #394043;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.ershoufang .box2 li .pic .picBottom{
    width: 250px;
    height: 72px;
}
.ershoufang .box2 li .pic .bottom1{
    padding: 10px 18px 0 18px;
    font-size: 16px;
    color: #394043;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ershoufang .box2 li .pic .bottom2{
    padding: 0 18px 0 18px;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    text-overflow: ellipsis;
}
.ershoufang .box2 li .pic .bottom2 span{
    margin-right: 8px;
}
.ershoufang .box2 li .tips{
    height: 45px;
    line-height: 45px;
    padding-right: 5px;
}
.ershoufang .box2 li .tips p{
    color: #aaa;
    font-size: 12px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;/*禁止换行*/
    width: 244px;
}
.ershoufang .box2 li .tips p span{
    margin-right: 8px;
}
/*ershoufang-end*/
.xiaoqu{
    width: 100%;
    height: 450px;
    clear: both;
    padding-top: 50px;
    background-attachment: fixed;
    background-size: cover;
    background-color: #eeeef1;
}
.xiaoqu .box3{
    margin: 0 auto 0 auto;
    width: 1150px;
}
.xiaoqu .box3 .xiaoquTitle{
    float: left;
}
.xiaoqu .box3 .xiaoquTitle .title{
    background: url("../images/xiaoqu.png") no-repeat;
    width: 187px;
    height: 28px;
    background-size: 100%;
}
.xiaoqu .box3 .xiaoquTitle p{
    color: #888;
    margin-top: 10px;
    width: 1150px;
    font-size: 14px;
    font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","å¾®è½¯é›…é»‘",'Segoe UI',Tahoma,"å®‹ä½“b8b\4f53",SimSun,sans-serif;
}
.xiaoqu .box3 .xiaoquTitle p .xiaoqu-a{
    font-size: 14px;
    color: #394043;
    margin-left: 20px;
    float: right;
    text-decoration: none;
}
.xiaoqu .box3 .xiaoquTips{
    clear: both;
    position: relative;
    top: 41px;
    left: -8px;
    width: 1158px;
    height: 270px;
    overflow: hidden;
    padding-top: 50px;
}
.xiaoqu .box3 .xiaoquTips ul{
    width: 25000px;
    position: absolute;
    top:0;
    left: 8px;
    list-style: none;
}
.xiaoqu .box3 .xiaoquTips li a{
    width: 350px;
    position: relative;
    float: left;
    margin-right: 50px;
    overflow: hidden;
    display: block;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.xiaoqu .box3 .xiaoquTips li a img{
    width: 350px;
    height: 200px;
    vertical-align: top;
    transition: all 1s ease;
}
.xiaoqu .box3 .xiaoquTips li .picTitle{
    height: 84px;
    background: #fff;
    position: relative;
    padding: 0 20px;
}
.xiaoqu .box3 .xiaoquTips li .picTitle .name{
    color: #394043;
    font-size: 19px;
    font-weight: bold;
    padding-top: 20px;
    line-height: 1;
    margin-bottom: 10px;
}
.xiaoqu .box3 .xiaoquTips li .picTitle .tips{
    color: #394043;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
}
.xiaoqu .box3 .xiaoquTips li .picTitle .tips .tip1{
    color: #394043;
    font-size: 14px;
    font-weight: bold;
    line-height: 1px;
}
.xiaoqu .box3 .xiaoquTips li .picTitle .tips .tip1 label{

    cursor: default;
}
.xiaoqu .box3 .xiaoquTips li .picTitle .tips .tip2{
    float: right;
    color: #888c8e;
    font-size: 12px;
}
.xiaoqu .box3 .xiaoquTips li a:hover img{
    transform: scale(1.03);
}
/*xiaoqu-end*/
/*xinfang-begin*/
.xinfang{
    width: 100%;
    height: 422px;
    clear: both;
    padding-top: 50px;
    background-attachment: fixed;
    background-size: cover;
}
.xinfang .box4{
    width: 1150px;
    margin: 0 auto 0 auto;
}
.xinfang .box4 .xinfangTitle{
    float: left;
}
.xinfang .box4 .xinfangTitle .name{
    background: url("../images/spriteV2_new.png") -20px -56px;
    width: 158px;
    height: 30px;
}
.xinfang .box4 .xinfangTitle p{
    color: #888;
    margin-top: 10px;
    width: 1150px;
}
.xinfang .box4 .xinfangTitle p a{
    color: #394043;
    margin-left: 20px;
    float: right;
}
.xinfang .box4 .xinfangTips{
    clear: both;
    width: 1158px;
    height: 310px;
    overflow: hidden;
    position: relative;
    top: 41px;
    left: -8px;
}
.xinfang .box4 .xinfangTips ul{
    position: absolute;
    width: 25000px;
    top:0;
    left: 8px;
    list-style: none;
}
.xinfang .box4 .xinfangTips ul li{
    list-style: none;
}
.xinfang .box4 .xinfangTips li a{
    width: 350px;
    height: 260px;position: relative;
    float: left;
    margin-right: 50px;
    overflow: hidden;
    display: block;
}
.xinfang .box4 .xinfangTips li a img{
    width: 350px;
    height: 260px;
    transition: all .7s ease-in-out;
    vertical-align: top;
}
.xinfang .box4 .xinfangTips li a:hover img{
    transform:scale(1.03)
}
.xinfang .box4 .xinfangTips li a .bg{
    background: #000;
    opacity: .3;
    width: 350px;
    height: 260px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.xinfang .box4 .xinfangTips li a .price{
    position: relative;
    bottom: 54px;
    max-width: 182px;
    min-width: 110px;
    width: auto;
    height: 38px;
    font-weight:700;
    font-size:18px;
}
.xinfang .box4 .xinfangTips li a .price span{
    background: #fff2ab;
    display: inline-block;
    height: 34px;
    line-height:34px;
    padding:0 10px 0 10px;
    color: #394043;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.xinfang .box4 .xinfangTips li a .title{
    font-size: 24px;
    color: #fff;
    position: absolute;
    bottom: 25px;
    width: 350px;
    height: 260px;
    font-weight:700;
    left:50%;
    top: 50%;
    margin-left:-175px;
    margin-top:-35px;
    text-align: center;
    text-shadow:0 1px 4px rgba(0,0,0,0.6);
}
.xinfang .box4 .xinfangTips li a .title span{
    color: #fff2ab;
    font-size:17px;
    display: block;
    font-weight:normal;
}
.xinfang .box4 .xinfangTips li a .title span label{
    font-weight:700;
    color: #fff2ab;
    font-size:20px;
    font-family: tahoma;
    position: relative;
    top:1px;
}
/*xinfang-end*/
/*truth-begin*/
.truth{
    background: url("../images/truth.jpg") no-repeat center top;
    width: 100%;
    height: 180px;
    padding-top: 60px;
}
.truth .box5{
    width: 1150px;
    margin: 0 auto 0 auto;
}
.truth .box5 .left{
    float: left;
}
.truth .box5 .left .truth-txt{
    background: url("../images/spriteV2_new.png") -19px -254px;
    width: 501px;
    height: 115px;
    margin-top: 4px;
}
.truth .box5 .right{
    width: 550px;
    float: right;
}
.truth .box5 .right p{
    color: #fff;
    font-size:16px;
    line-height:25px;
}
.truth .box5 .right .search{
    position: relative;
}
.truth .box5 .right .search .search-inp{
    width: 531px;
    height: 29px;
    margin-top: 18px;
    padding:7px 12px 7px 12px;
    background: #fff;
    line-height: 29px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(14,5,10,0.25);
}
.truth .box5 .right .search .search-inp .tex{
    width: 495px;
    font-size: 14px;
    border:0;
    height: 28px;
    resize: none;
    font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", 微软雅黑, "Segoe UI", Tahoma, 宋体b8b体, SimSun, sans-serif;
    background-color: white;
    cursor: text;
}
.truth .box5 .right .search .search-inp .sub{
    background: url("../images/spriteV2_new.png") -407px -20px;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-top: 5px;
    float: right;
    cursor: pointer;
}
/*truth-end*/
/*?*/
.overlayBg{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 6;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    display: none;
}
/**/
.footer{
    margin-top: 0;
    background: url("../images/footer.jpg") no-repeat center top #222;
    clear: both;
    width: 100%;
    height: 426px;
}
.footer .box6{
    width: 1150px;
    margin: 0 auto 0 auto;
}
.footer .box6 .footer-title{
    height: 75px;
    border-bottom:1px solid #393939;
    line-height: 75px;
}
.footer .box6 .footer-title .title-left{
    float: left;
}
.footer .box6 .footer-title .title-left ul{
    list-style: none;
}
.footer .box6 .footer-title .title-left li{
    float: left;
    list-style: none;
}
.footer .box6 .footer-title .title-left li a{
    color: #fff;
    margin-right: 15px;
    font-size: 14px;
}
.footer .box6 .footer-title .title-right{
    color: #7dcfa0;
    float: right;
}
.footer .box6 .link-box{
    padding:13px 0 20px 0;
    border-bottom: 1px solid #393939;
    background: none;
    /*height: 50px;*/
}
.footer .box6 .link-box .fl{
    width: 1000px;
    float: left;
}
.footer .box6 .link-box .fl .tab{
    height: 40px;
}
.footer .box6 .link-box .fl .tab span{
    background: #121212;
    color: #888c8e;
    display: inline-block;
    padding:8px 10px 8px 10px;
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
    cursor:pointer;
    font-size: 12px;
    transition: all .3s ease-in-out;
}
.footer .box6 .link-box .fl .tab span:hover{
    background: #394043;
    color: #fff;
}
/*.footer .box6 .link-box .fl .tab span:empty{
    display: none;
}*/
.footer .box6 .link-box .fl .link-list{
    clear: both;
}
.footer .box6 .link-box .fl .link-list div{
    /*display: none;*/
    min-height: 89px;
}
.footer .box6 .link-box .fl .link-list .list dd{
    display: block;
    list-style: none;
}
.footer .box6 .link-box .fl .link-list div dd a{
    color: #888c8e;
    font-size: 12px;
    display: inline-block;
    margin: 10px 10px 0 0;
    text-decoration: none;
}
.footer .box6 .link-box .fl .link-list div dd a:hover{
    text-decoration: underline;
}
.clear{
    display: block;
}
.clear::after{
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}
.footer .box6 .bottom{
    padding-top: 23px;
}
.footer .box6 .bottom .copyright{
    color: #888c8e;
    font-size: 12px;
    line-height: 20px;
    float: left;
}
.footer .box6 .bottom .box7{
    width: 300px;
    color: #888c8e;
    font-size: 12px;
    line-height: 20px;
}
.footer .box6 .bottom .box7 a{
    display: inline-block;
    text-decoration: none;
    height: 20px;line-height: 20px;
}
.footer .box6 .bottom .box7 a img{
    vertical-align: top;
    float: left;
}
.footer .box6 .bottom .box7 a p{
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 0 0 5px;
    color: #888c8e;
    display: block;
}
.rightElect{
    position: fixed;
    right:0;
    top:0;
    width: 38px;
    height: 100%;
    box-shadow:0 1px 10px rgba(0,0,0,0.2);
    z-index: 1002;
    background: #ffffff;
}
.rightElect table{
    width: 100%;
    height: 100%;
    border:0;
    border-spacing: 0;
    border-collapse: collapse;
    display: table;
}
.rightElect table tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.rightElect table tbody tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.rightElect table tbody tr td{
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
.rightElect table tbody tr td .sidebar ul{
    list-style: none;
}
.rightElect table tbody tr td .sidebar .mycart{
    position: relative;
    margin: 7px 0 7px 0;
}
.rightElect table tbody tr td .sidebar .mycart .daikan{
    width: 38px;
    height: 38px;
    background: url("../images/bar.png") -38px -421px;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.rightElect table tbody tr td .sidebar .mycart .popup{
    display: none;
    opacity: 0;
    right: 48px;
    padding: 15px 25px 25px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    border: 1px solid #f5f5f6;
    width: 300px;
    background: #fff;
    color: #616669;
    z-index: 100;
    position: absolute;
    top: 0;
    font-size: 12px;
    white-space: nowrap;
}
.rightElect table tbody tr td .sidebar .mycart:hover .popup {
    display: block;
    animation: popup 1s ease forwards;
}
.rightElect table tbody tr td .sidebar .mycart:hover .daikan{
    background: url("../images/bar.png")  0 -378px;
}
.rightElect table tbody tr td .sidebar .mycart .popup .abc{
    border-color: transparent transparent transparent #ffffff;
    display: block;
    top: 18px;
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    margin: -5px -10px 0 0;
    font-size: 0;
    border: 5px solid;
    overflow: hidden;
    font-weight: 400;
    font-style: normal;
}
.rightElect table tbody tr td .sidebar .mycart .popup .head-line{
    color: #d0d1d2;
    line-height: 18px;
    padding-bottom: 13px;
    border-bottom: 1px solid #eee;
}
.rightElect table tbody tr td .sidebar .mycart .popup .head-line .title{
    color: #d0d1d2;
    line-height: 18px;
    padding-bottom: 13px;
    border-bottom: 1px solid #eee;
}
.rightElect table tbody tr td .sidebar .mycart .popup .head-line .title a{
    font-size: 18px;
    font-weight: bold;
    color: #394043;
}
.rightElect table tbody tr td .sidebar .mycart .popup .head-line .explain{
    margin-left: 15px;
    line-height: 18px;
}
.rightElect table tbody tr td .sidebar .mycart .popup .head-line .explain a{
    color: #d0d1d2;
}
.rightElect table tbody tr td .sidebar .mycart .popup .zones{
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 306px;
    margin-bottom: 13px;
    list-style: none;
}
.rightElect table tbody tr td .sidebar .mycart .popup .zone-loading{
    display: none;
}
.rightElect table tbody tr td .sidebar .mycart .popup .book-btn{
    display: none;
    color: #fff;
    background: #00ae66;
    font-size: 14px;
    font-weight: bold;
    line-height: 45px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.rightElect table tbody tr td .sidebar .mycart .popup .book-btn a{
    color: #fff;
    display: block;
}
.rightElect table tbody tr td .sidebar .mycart .popup .empty-cart{
    display: block;
    color: #969696;
    font-size: 17px;
    text-align: center;
}
.rightElect table tbody tr td .sidebar .mycart .popup .empty-cart .no-log-empty-img{
    margin: 40px auto 30px;
    width: 76px;
    height: 94px;
    background: url("../images/no_log_empty_cart.png") no-repeat;
}
.rightElect table tbody tr td .sidebar .mycart .popup .empty-cart .msg{
    line-height: 17px;
    margin-bottom: 30px;
}
.rightElect table tbody tr td .sidebar .mycart .popup .empty-cart .log-in-btn{
    color: #394043;
    background: #fff;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: block;
    width: 110px;
    margin: 0 auto;
}
.rightElect table tbody tr td .sidebar .mycart .popup .empty-cart .log-in-btn .ar{
    display: inline-block;
    width: 6px;
    height: 12px;
    margin-left: 10px;
    border: 0;
    position: static;
    background: url("../images/ar.png") no-repeat;
    top: 18px;
}
.rightElect table tbody tr td .sidebar .line{
    width: 19px;
    height: 1px;
    margin: 7px auto 7px auto;
    background: #ccc;
}
.rightElect table tbody tr td .sidebar .myfocus {
    margin: 7px 0 7px 0;
    position: relative;
}
.rightElect table tbody tr td .sidebar .myfocus .popup{
    height: 38px;
    line-height: 38px;
    display: none;
    opacity: 0;
    right: 48px;
    top: 0;
    position: absolute;
    padding: 0 14px 0 14px;
    color: #fff;
    font-size: 12px;
    background: #00ae66;
    white-space: nowrap;
    transition: all 10s ease-in-out;
}
.rightElect table tbody tr td .sidebar .myfocus:hover .popup {
    display: block;
    animation: popup 1s ease forwards;
}
.rightElect table tbody tr td .sidebar .myfocus .heart {
    width: 38px;
    height: 38px;
    background: url("../images/bar.png") -38px 0px;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.rightElect table tbody tr td .sidebar .myfocus:hover .heart{
    background: url("../images/bar.png") 0 0 ;
}
.rightElect table tbody tr td .sidebar .myfocus .popup i{
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    margin: -5px -10px 0 0;
    font-size: 0;
    border: 5px solid;
    border-color: transparent transparent transparent #00ae66;
    overflow: hidden;
}
.rightElect table tbody tr td .sidebar li .compare {
    width: 38px;
    height: 38px;
    background: url("../images/bar.png") -38px -516px;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.rightElect table tbody tr td .sidebar li:hover .compare{
    background: url("../images/bar.png") 0 -516px;
}
.rightElect table tbody tr td .line{
    width: 19px;
    height: 1px;
    margin: 7px auto 7px auto;
    background: #ccc;
}
.rightElect table tbody tr td .sellHouse{
    position: relative;
    margin: 7px 0 7px 0;
}
.rightElect table tbody tr td .sellHouse .sell{
    margin: 7px 0 7px 0;
    width: 38px;
    height: 50px;
    background: url("../images/bar.png") -38px -88px;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.rightElect table tbody tr td .sellHouse:hover .sell{
    background: url("../images/bar.png") ;
}
.rightElect table tbody tr td .sellHouse .popup{
    height: 50px;
    line-height: 50px;
    display: none;
    opacity: 0;
    right: 48px;
    top: 0;
    position: absolute;
    padding: 0 14px 0 14px;
    color: #fff;
    font-size: 12px;
    background: #00ae66;
    white-space: nowrap;
    transition: all 10s ease-in-out;
}
.rightElect table tbody tr td .sellHouse:hover .popup{
    display: block;
    animation: popup 1s ease forwards;
}
.rightElect table tbody tr td .sellHouse .popup i{
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    margin: -5px -10px 0 0;
    font-size: 0;
    border: 5px solid;
    border-color: transparent transparent transparent #00ae66;
    overflow: hidden;
}
.rightElect table tbody tr td .jisuanqi {
    position: relative;
    margin: 7px 0 7px 0;
}
.rightElect table tbody tr td .jisuanqi .tool{
    margin: 7px 0 7px 0;
    width: 38px;
    height: 50px;
    background: url("../images/bar.png") -38px -460px;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.rightElect table tbody tr td .jisuanqi:hover .tool{
    background: url("../images/bar.png") 0 -460px;
}
.rightElect table tbody tr td .jisuanqi .popup{
    height: 50px;
    line-height: 50px;
    display: none;
    opacity: 0;
    right: 48px;
    top: 0;
    position: absolute;
    padding: 0 14px 0 14px;
    color: #fff;
    font-size: 12px;
    background: #00ae66;
    white-space: nowrap;
    transition: all 10s ease-in-out;
}
.rightElect table tbody tr td .jisuanqi:hover .popup {
    display: block;
    animation: popup 1s ease forwards;
}
.rightElect table tbody tr td .jisuanqi .popup i{
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    margin: -5px -10px 0 0;
    font-size: 0;
    border: 5px solid;
    border-color: transparent transparent transparent #00ae66;
    overflow: hidden;
}
.rightElect table tbody tr td .anxin {
    position: relative;
    margin: 7px 0 7px 0;
}
.rightElect table tbody tr td .anxin .baodan{
    margin: 7px 0 7px 0;
    width: 38px;
    height: 38px;
    background: url("../images/bar.png") -38px -186px;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.rightElect table tbody tr td .anxin:hover .baodan{
    background: url("../images/bar.png") 0 -186px;
}
.rightElect table tbody tr td .anxin .popup{
    height: 38px;
    line-height: 38px;
    display: none;
    opacity: 0;
    right: 48px;
    top: 0;
    position: absolute;
    padding: 0 14px 0 14px;
    color: #fff;
    font-size: 12px;
    background: #00ae66;
    white-space: nowrap;
    transition: all 10s ease-in-out;
}
.rightElect table tbody tr td .anxin:hover .popup {
    display: block;
    animation: popup 1s ease forwards;
}
.rightElect table tbody tr td .anxin .popup i{
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    margin: -5px -10px 0 0;
    font-size: 0;
    border: 5px solid;
    border-color: transparent transparent transparent #00ae66;
    overflow: hidden;
}
.rightElect table tbody tr td .wechat{
    position: relative;
    margin: 7px 0;
}
.rightElect table tbody tr td .wechat .xiaochengxv{
    margin: 7px 0 7px 0;
    width: 38px;
    height: 38px;
    background: url("../images/bar.png") -38px -224px;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.rightElect table tbody tr td .wechat:hover .xiaochengxv{
    background: url("../images/bar.png") 0 -224px;
}
.rightElect table tbody tr td .wechat .popup{
    display: none;
    opacity: 0;
    right: 48px;
    top: -30px;
    padding: 8px;
    background: #fff;
    position: absolute;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
}
.rightElect table tbody tr td .wechat:hover .popup {
    display: block;
    animation: popup 1s ease forwards;
}
.rightElect table tbody tr td .wechat .popup i{
    border-color: transparent transparent transparent #fff;
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    margin: -5px -10px 0 0;
    font-size: 0;
    border: 5px solid;
    overflow: hidden;
}
.rightElect table tbody tr td .wechat .popup img{
    width: 94px;
    border:0;
}
.rightElect table tbody tr td .wechat .popup em{
    display: block;
    padding-top: 8px;
    color: #000;
    line-height: 12px;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
}
.rightElect table tbody tr td .offical {
    position: relative;
    margin: 7px 0 7px 0;
}
.rightElect table tbody tr td .offical .kefu{
    margin: 7px 0 7px 0;
    width: 38px;
    height: 38px;
    background: url("../images/bar.png") -38px -265px;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.rightElect table tbody tr td .offical:hover .kefu{
    background: url("../images/bar.png") 0 -265px;
}
.rightElect table tbody tr td .offical .popup{
    height: 38px;
    line-height: 38px;
    display: none;
    opacity: 0;
    right: 48px;
    top: 0;
    position: absolute;
    padding: 0 14px 0 14px;
    color: #fff;
    font-size: 12px;
    background: #00ae66;
    white-space: nowrap;
    transition: all 10s ease-in-out;
}
.rightElect table tbody tr td .offical:hover .popup {
    display: block;
    animation: popup 1s ease forwards;
}
.rightElect table tbody tr td .offical .popup i{
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    margin: -5px -10px 0 0;
    font-size: 0;
    border: 5px solid;
    border-color: transparent transparent transparent #00ae66;
    overflow: hidden;
}
.rightElect table tbody tr td .kaitong {
    position: relative;
    margin: 7px 0 7px 0;
}
.rightElect table tbody tr td .kaitong .yingxiao{
    margin: 7px 0 7px 0;
    width: 38px;
    height: 38px;
    background: url("../images/bar.png") -38px -142px;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.rightElect table tbody tr td .kaitong:hover .yingxiao{
    background: url("../images/bar.png") 0 -142px;
}
.rightElect table tbody tr td .kaitong .popup{
    height: 38px;
    line-height: 38px;
    display: none;
    opacity: 0;
    right: 48px;
    top: 0;
    position: absolute;
    padding: 0 14px 0 14px;
    color: #fff;
    font-size: 12px;
    background: #00ae66;
    white-space: nowrap;
    transition: all 10s ease-in-out;
}
.rightElect table tbody tr td .kaitong:hover .popup {
    display: block;
    animation: popup 1s ease forwards;
}
.rightElect table tbody tr td .kaitong .popup i{
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    margin: -5px -10px 0 0;
    font-size: 0;
    border: 5px solid;
    border-color: transparent transparent transparent #00ae66;
    overflow: hidden;
}
.rightElect table tbody tr td .complain {
    position: relative;
    margin: 7px 0 7px 0;
}
.rightElect table tbody tr td .complain .tousu-fankui{
    margin: 7px 0 7px 0;
    width: 38px;
    height: 38px;
    background: url("../images/bar.png") -38px -302px;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.rightElect table tbody tr td .complain:hover .tousu-fankui{
    background: url("../images/bar.png") 0 -302px;
}
.rightElect table tbody tr td .complain .popup{
    height: 38px;
    line-height: 38px;
    display: none;
    opacity: 0;
    right: 48px;
    top: 0;
    position: absolute;
    padding: 0 14px 0 14px;
    color: #fff;
    font-size: 12px;
    background: #00ae66;
    white-space: nowrap;
    transition: all 10s ease-in-out;
}
.rightElect table tbody tr td .complain:hover .popup {
    display: block;
    animation: popup 1s ease forwards;
}
.rightElect table tbody tr td .complain .popup i{
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    margin: -5px -10px 0 0;
    font-size: 0;
    border: 5px solid;
    border-color: transparent transparent transparent #00ae66;
    overflow: hidden;
}
.rightElect .gotop{
    display: list-item;
    list-style: none;
    position: absolute;
    bottom:10px;
    margin: 7px 0 7px 0;
}
.rightElect .gotop .fanhui{
    width: 38px;
    height: 38px;
    background: url("../images/bar.png") -38px -338px;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
.rightElect .gotop:hover .fanhui{
    background: url("../images/bar.png") 0 -338px;
}
.rightElect .gotop .popup{
    height: 38px;
    line-height: 38px;
    display: none;
    opacity: 0;
    right:  48px;
    top:0;
    position: absolute;
    padding: 0 14px 0 14px;
    color: #fff;
    font-size: 12px;
    background: #00ae66;
    white-space: nowrap;
    transition: all 10s ease-in-out;
}
.rightElect .gotop:hover .popup{
    display: block;
    /*opacity: 1;*/
    /*right: 38px;*/
    /*transform: scale(1);*/
    animation: popup 1s ease forwards;
}
@keyframes popup {
    0%{transform: translateX(0);opacity: 0}
    100%{transform: translateX(10px);opacity: 1}
}
.rightElect .gotop .popup i{
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    margin: -5px -10px 0 0;
    font-size: 0;
    border: 5px solid;
    border-color: transparent transparent transparent #00ae66;
    overflow: hidden;
}


















