/*
背景颜色 background-color/background
背景图片 background-image/background
背景平铺方式background-repeat
背景显示位置background-position
合并写法 background:颜色 图片 平铺方式
*/
.box1{
    width: 200px;
    height: 200px;
    background: #0873c0;
}
.box2{
    width: 400px;
    height: 200px;
    background-color: aqua;
    background-image: url("images/xiyou05.png");
    background-repeat: no-repeat;
}
.box3{
    width: 200px;
    height: 312px;
    background: url("images/walkingdead.png") no-repeat ;
    animation: box3 1s steps(10) infinite;
}
@keyframes box3 {
    0%{background-position: 0 0}
    100%{background-position: -2000px 0}
}
.box4{
    width: 94px;
    height: 258px;
    background: url("images/1.jpg") no-repeat;
    animation: box4 1s steps(5) infinite,box4-2 5s ease infinite;
}
@keyframes box4 {
    0%{background-position: 0 0}
    100%{background-position: -470px 0}
}
@keyframes box4-2 {
    0%{transform: translateX(0)}
    100%{transform: translateX(500px)}

}